* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'mukta', sans-serif;

}

.logo-mario {

    height: 200px;
    margin-left: 20px;
}

button {

    color: white;
    background-color: #c51111;
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
}


p {

    color: white;
    font-size: 20px;

}

.mario-luigi {


    height: 500px;
}

body {

    height: 100vh;

}

.caixa-principal {

    height: 40%;

}

.caixa-video {

    position: fixed;
    top: 0;
    z-index: -1;
}
.formulario-fale-conosco {
    background-color: white;
    display: flex;
    gap: 15px;
    flex-direction: column;
    position: fixed;
    top: 50px;
    left: 50px;
    padding: 20px;
    border-radius: 8px;

}

input {
    height: 40px;
    border-radius: 8px;
    border: 2px solid gray;
    padding-left: 7px;
    outline-color: yellow;


}
textarea {
    height: 100px;
    width: 270px;
    border-radius: 8px;
    border: 2px solid gray;
    padding-left: 7px;
    outline-color: yellow;
}

video {

    width: 100vw;
}

.caixa-mae {
    align-items: center;
    padding: 100px;
    justify-content: space-around;
    display: flex;

}

.mascara {
    height: 100%;
    width: 100%;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 0) 0%, rgba(1, 1, 1, 0.9041881400997899) 72%, rgba(0, 0, 0, 1) 100%);
    position: fixed;
    top: 0;
}

.link-zap img {

    height: 80px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.header img {
    height: 60px;
}

.header a {
    color: white;
    cursor: pointer;
    font-size: 15px;

}
.header a:hover {
    color: #c51111;
    font-size: 16px;
    transition: 0.5ms ease-in-out;
}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
   position: fixed; top:0; left: 0; }

